Repository nanato12/line-works-sdk, pull requests merged in 2025-04, with the labels that each got.

#78 update: VERSION 3.6
  VERSION
Labels: version

#77 Implementation of image sending
  Makefile
  docs/DefaultApi.md
  docs/IssueResourcePathRequest.md
  docs/IssueResourcePathResponse.md
  docs/ResourceExtras.md
  docs/UploadResouceResponse.md
  docs/UploadResourceReponseResult.md
  hooks/image.png
  hooks/receive_publish_packet.py
  line_works/client.py
  line_works/mqtt/__init__.py
  line_works/mqtt/models/payload/message.py
  line_works/openapi/storage/__init__.py
  line_works/openapi/storage/api/__init__.py
  line_works/openapi/storage/api/default_api.py
  line_works/openapi/storage/api_client.py
  line_works/openapi/storage/api_response.py
  line_works/openapi/storage/configuration.py
  line_works/openapi/storage/exceptions.py
  line_works/openapi/storage/models/__init__.py
  line_works/openapi/storage/models/resource_extras.py
  line_works/openapi/storage/models/upload_resouce_response.py
  line_works/openapi/storage/models/upload_resource_reponse_result.py
  line_works/openapi/storage/py.typed
  line_works/openapi/storage/rest.py
  line_works/openapi/talk/__init__.py
  line_works/openapi/talk/api/default_api.py
  line_works/openapi/talk/models/__init__.py
  line_works/openapi/talk/models/issue_resource_path_request.py
  line_works/openapi/talk/models/issue_resource_path_response.py
  openapi/storage.yml
  openapi/talk.yml
  requirements.txt
Labels: enhancement, openapi

#80 update: VERSION
  VERSION
Labels: version

#76 add disconnect
  line_works/mqtt/client.py
Labels: enhancement

#82 update: VERSION 3.8
  VERSION
Labels: version

#83 Implementation of file message sending
  docs/ResourceExtras.md
  hooks/image.zip
  hooks/receive_publish_packet.py
  line_works/client.py
  line_works/openapi/storage/models/resource_extras.py
  openapi/storage.yml
Labels: enhancement
